node_modules/
dist/
npm-debug.log
source/js/localforage.min.js
source/js/vue.min.js
source/js/moment.min.js
source/js/materialize.min.js
source/css/materialize.min.css
source/css/animate.min.css
source/fonts
