<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
      <title>Listed - Predictive Shopping</title>
      <meta http-equiv="content-type" content="text/html;charset=utf-8" />
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
      <div id="app">
        
        <!-- Main navigation -->
        <nav class="nav-extended" v-bind:class="color" role="navigation">
          <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Listed</a>
            
            <!-- recommendedPopup toggle -->
            <ul class="left">
              <li>
                <a href="#recommendedPopup"><i class="material-icons">stars</i></a>
              </li>
            </ul>
            
            <!-- Status icons -->
            <ul class="right">
              <li>
                <i class="material-icons" v-show="!saved" title="unsaved changes">mode_edit</i>
              </li>
            </ul>
            
          </div>

          <!-- nav tabs -->
          <div class="nav-content">
            <ul class="tabs tabs-transparent">
              <li class="tab"><a href="#listContent">List</a></li>
              <li class="tab"><a href="#historyContent">Hist</a></li>
              <li class="tab"><a href="#mergeContent">Tools</a></li>
              <li class="tab"><a href="#test4">Config</a></li>
            </ul>
          </div>
    
        </nav>
  
        <div class="container">
          <div class="section">

            <!-- tab contents -->
            <div id="listContent" class="col s12">
              <item-autocomplete id="item-input" 
                auto-clear="true" 
                placeholder="I want..."
                show-button="true"
                v-bind:history="history" 
                v-on:selected="addItem(arguments[0])"></item-autocomplete>
              <div class="row">
                <div class="col s12">
                  <table class="striped">
                    <tbody>
                      <tr is="list-item" v-for="(item, index) in list" 
                        v-bind:id="'listItem' + index"
                        v-bind:item="item" 
                        v-on:remove="removeItem(arguments[0])"
                        v-on:checked="addHistory(arguments[0])"
                        v-on:unchecked="undoHistory(arguments[0])"
                        ></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div id="historyContent" class="col s12">
              <h5>history</h5>
              <ul>
                <li v-for="h in history">{{ h.text }} <ol><li v-for="d in h.dates">{{ d }}</li></ol> </li>
              </ul>
            </div>
            
            <div id="mergeContent" class="col s12">
              <h5>merge</h5>
              <merge-selection v-bind:history="history" v-on:do-merge="mergeHistory(arguments[0], arguments[1])"></merge-selection>
            </div>

            <div id="test4" class="col s12">Test 4</div>
          
          </div>  <!-- /section -->
        </div>  <!-- container -->

         <!-- recommended items modal -->
        <div id="recommendedPopup" class="modal bottom-sheet">
          <div class="modal-content">
            <h4><i class="material-icons">star</i> Recommended</h4>
            
            <p v-show="recommendations.length == 0">As I learn more about how often you tick certain items, I will be able to recommend them here in the future.</p>

            <ul class="collection" v-show="recommendations.length > 0">
              <li class="collection-item" v-for="pred in recommendations">{{ pred.text }}, due {{ pred.dueDate }} ({{ pred.dueDays }} days) 
              <a href="#!" class="secondary-content" v-on:click="addItem(pred.text)"><i class="material-icons">send</i></a></li>
            </ul>
            
          </div>
        </div>
  
      </div>  <!-- /app -->

      <script type="text/javascript" src="js/localforage.min.js"></script>
      <script type="text/javascript" src="js/vue.min.js"></script>
      <script type="text/javascript" src="js/moment.min.js"></script>
      <script type="text/javascript" src="js/listed.components.js"></script>
      <script type="text/javascript" src="js/listed.js"></script>
      <script type="text/javascript" src="js/listed.bind.js"></script>
      <!-- materialize -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/materialize.init.js"></script>
      
      <!-- dev data -->
      <script>
        function addTestData() {
          Listed.data.history = [];
          Listed.methods.addHistory('milk', moment().subtract(22, 'day').format('YYYY-MM-DD'));
          Listed.methods.addHistory('milk', moment().subtract(17, 'day').format('YYYY-MM-DD'));
          Listed.methods.addHistory('milk', moment().subtract(12, 'day').format('YYYY-MM-DD'));
          Listed.methods.addHistory('milk', moment().subtract(6, 'day').format('YYYY-MM-DD'));
          Listed.methods.addHistory('coffee', moment().subtract(31, 'day').format('YYYY-MM-DD'));
          Listed.methods.addHistory('coffee', moment().subtract(24, 'day').format('YYYY-MM-DD'));
          Listed.methods.addHistory('coffee', moment().subtract(17, 'day').format('YYYY-MM-DD'));
          Listed.methods.addHistory('coffee', moment().subtract(10, 'day').format('YYYY-MM-DD'));
          Listed.methods.addHistory('cookies', moment().subtract(40, 'day').format('YYYY-MM-DD'));
          Listed.methods.addHistory('cookies', moment().subtract(28, 'day').format('YYYY-MM-DD'));
          Listed.methods.addHistory('cookies', moment().subtract(16, 'day').format('YYYY-MM-DD'));
          Listed.methods.addHistory('cookies', moment().subtract(4, 'day').format('YYYY-MM-DD'));
          Listed.methods.predictFrequencies();
        }
      </script>
      
    </body>
</html>
