<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
      <title>Shopt</title>
      <meta http-equiv="content-type" content="text/html;charset=utf-8" />
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!-- css animations -->
      <link rel="stylesheet" href="css/animate.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<!--
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program. If not, see http://www.gnu.org/licenses/.
-->
    <body>
      <div id="app" class="lighten-5" v-bind:class="color" style="height:100%; min-height:100vh;">

        <div class="progress" v-show="loading">
            <div class="indeterminate"></div>
        </div>
  
        <!-- Main navigation -->
        <navigation 
          v-show="!loading" style="display:none"
          v-bind:view="'list'"
          v-bind:color="color"
          v-bind:saved="saved"
          v-bind:hiliteRecommendations="hiliteRecommendations"
          v-on:navaction="showRecommendations"
          >
        </navigation>
        
        <div class="container" v-show="!loading" style="display:none">
          <div class="section">

              <!-- auto complete history items -->
              <item-autocomplete 
                id="item-input" 
                auto-clear="true" 
                placeholder="I want..."
                v-bind:data="sortedUnpickedHistory" 
                v-on:selected="addItem(arguments[0])"></item-autocomplete>
              
              <div class="row">
                <div class="col s9 m6">
                  <history-select
                    class="lighten-4"
                    v-bind:data="sortedUnpickedHistory"
                    title="past items"
                    v-on:input="addItem(arguments[0])"
                    v-bind:class="color"></history-select>
                </div>
                <div class="col s2">
                  <button class="btn">+</button>
                </div>
              </div>
              
              <!-- list of check items -->
              <div class="row">
                <div class="col s12">
                <ul class="collection" v-show="list.length > 0">
                  <transition-group name="list-transition" tag="ul" enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
                    <list-item class="collection-item" 
                      v-for="(item, index) in list" 
                      v-bind:key="item"
                      v-bind:id="'listItem' + index"
                      v-bind:item="item" 
                      v-on:remove="removeItem(arguments[0])"
                      v-on:checked="addHistory(arguments[0])"
                      v-on:unchecked="undoHistory(arguments[0])">
                    </list-item>
                  </transition-group>
                </ul>
                </div>
              </div>
              
              <!-- clear list action -->
              <div class="row">
                <div class="col s2">
                  <button type="button" class="waves-effect waves-light btn" v-show="list.length > 0" v-on:click="promptCleanList">Clean</button>
                </div>
              </div>

              <!-- no data information -->
              <transition name="howto-transition" enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
                <div class="row" v-show="hiliteRecommendations">
                  <div class="col s12 m6">
                    <div class="card blue lighten-4">
                      <div class="card-content black-text">
                        <span class="card-title">How does this work?</span>
                        <p>Add some items that you want to your list up above. I will remember the dates you check them off the list, and after about 2 rounds I can start predicting when you next need that nice something.</p>
                        <p>Use the <i class="material-icons">stars</i> icon above to see my recommendations.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </transition>

          </div>  <!-- /section -->
        </div>  <!-- container -->

         <!-- recommended items modal -->
        <div id="recommendedPopup" class="modal bottom-sheet">
          <div class="modal-content">
            <h5><i class="material-icons">star</i> Recommended</h5>
            
            <p v-show="recommendations.length == 0">As I learn more about how often you tick certain items, I will be able to recommend them here in the future.</p>

          <transition-group 
            name="recommended-transition" 
            tag="div" 
            leave-active-class="animated bounceOut"
            class="collection" >
              <a href="#!" class="collection-item lighten-4" 
                v-for="pred in recommendations" 
                v-bind:key="pred"
                v-bind:class="{ 'active':pred.dueDays < 1 }" 
                v-on:click="addItem(pred.text)">
                <h5><i class="material-icons">send</i> {{ pred.text }}, due {{ pred.dueDate }}</h5>
              </a>
          </transition-group>
            
          </div>
        </div>
  
      </div>  <!-- /app -->

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/materialize.init.js"></script>
      <script type="text/javascript" src="js/vue.min.js"></script>
      <script type="text/javascript" src="js/moment.min.js"></script>
      <script type="text/javascript" src="js/polyfills.js"></script>
      <script type="text/javascript" src="js/shopt.components.js"></script>
      <script type="text/javascript" src="js/shopt.logic.js"></script>
      <script type="text/javascript" src="js/shopt.ui.js"></script>
      <script type="text/javascript" src="js/shopt.bind.js"></script>
      
    </body>
</html>
